<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CGenT.Sprache.Release" version="1.0.0.1" targetFramework="net48" />
  <package id="DotNetZip" version="1.13.5" targetFramework="net45" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.11.7" targetFramework="net45" />
  <package id="Ical.Net" version="4.2.0" targetFramework="net48" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NodaTime" version="3.0.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net45" />
</packages>